.home {
    width: 100vw;
    height: 100vh;
}
.card {
    margin: 10px;
}
.youtube {
    width: 100vw;
    height: 100vh;
}
.zoom {
    width: 100vw;
    height: 100vh;
}
.teams {
    width: 100vw;
    height: 100vh;
}
.col-xl-12 > a {
    align-items: flex-start;
}